
.container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;  
}
.game-border{
  width: 450px;
  height: 450px;
  border: solid 2px black;
  display: flex;
  flex-wrap: wrap;
}
.cells{
  width: 150px;
  height: 150px;
  border: solid 2px rgb(24, 78, 122);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mark{
  font-size: 8rem;
  font-weight: bolder;
}

.x{
  color: aqua;
}
.x{
  color: red;
}